:root {
    --blue: #3DB6FF;
    --grey-background:#4D4D4D;
    --off-white: rgb(219, 219, 219);
    --dark-blue: #252281;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 190%;
}

h3 {
    font-size: 135%;
}

body {
    background-color: var(--off-white);
}

footer {
    padding-bottom: 10px;
}

/*  */
/* Header section */
/*  */

#top-page {
    background-color: var(--grey-background);
    font-size: 24px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position:relative;
}

#top-page h1 {
    background-color: var(--blue);
    padding: 0px 5px 0px 5%;
    width:max-content;
    flex:0 1 auto;
    color: var(--grey-background);
}

nav {
    flex:1 0 auto;
    display:flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px 40px 5px 0;
}

nav a {
    flex:0 1 15%;
    color:var(--blue);
    max-width: fit-content;
    text-decoration: none;
    border-bottom: 3px solid var(--blue);
    padding:0 10px;
    margin:5px 5px;
    text-align: center;
}

/*  */
/* Main content section */
/*  */

#hero-image {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    background-image: url("../images/space_background.jpg");
    background-color: var(--blue);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}

#hero-image h2 {
    position:absolute;
    bottom:20px;
    right:0px;
    background-color: var(--grey-background);
    font-size: 150%;
    text-align: right;
    color: var(--blue);
    max-width:fit-content;
    padding: 5px 20px;
}

#headshot-image {
    position:absolute;
    left: 0px;
    top: 0px;
    margin:20px;
    max-width:175px;
    border:5px solid var(--grey-background);
}

.section-whole {
    display:flex;
    margin-bottom: 30px;
    margin-right: 5%;
    color: var(--dark-blue);
}

.section-title {
    flex:1 1 25%;
    text-align: right;
    border-right: 5px solid var(--dark-blue);
    max-width: 300px;
}

.section-title h1 {
    margin-right: 5px;
}

.section-content {
    flex:1 1 75%;
    padding:20px;
}
/* #work-content is a .section-content, but more unique, due to the flexbox inside of it */
#work-content {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 5px solid var(--blue);
    flex: 1 1 40%;
    margin: 5px;
    position:relative;
    width:100%;
    min-height: 200px;
    background-color: var(--grey-background);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.card-title {
    width:fit-content;
    background-color: var(--blue);
    position:absolute;
    left:0;
    bottom: 15px;
    padding: 5px;
    line-height: 1.4;
    color: var(--grey-background);
}

/*  */
/* Card IDs, add background-image for each new entry */
/*  */

#css-cheat-sheet {
    background-image:url("../images/css_cheat_sheet.jpg");
    flex:1 1 100%;
    background-size:cover;
    background-position: top;
    height:400px;
}

#password-generator {
    background-image:url("../images/password_generator_screenshot.png");
    background-size:cover;
    background-position: top;
}

#weather-dashboard {
    background-image:url("../images/Weather_Dashboard_Screenshot.png");
    background-size:cover;
    background-position: center;
}

#movie-hype-generator {
    background-image:url("../images/movie_hype_generator.png");
    background-size:cover;
    background-position: top;
}

#project-5 {
    background-image:url("../images/online_report_isometric.png");
}

/*  */
/* End Card IDs */
/*  */

#contact-me ul {
    display:flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#contact-me ul li {
    list-style-type: none;
    display:inline;
    padding: 0 3px;
    margin: 0 5px;
    font-size: 28px;
    border-bottom:5px solid var(--dark-blue);
}
#contact-me a {
    text-decoration: none;
}

/*  */
/* Pseudo classes */
/*  */

nav a:hover {
    color: #71c9ff;
}

#contact-me a:visited {
    color:var(--dark-blue);
}

#contact-me a:hover {
    color:var(--blue);
}

.card:visited .card-title{
    color:var(--dark-blue);
}

.card:hover,
.card:focus {
    box-shadow: 0 0 15px var(--dark-blue);
}

/*  */
/* Media Queries */
/*  */

@media screen and (max-width: 992px) {
    nav a{
        flex:1 1 40%;
        max-width: 180px;
    }

    nav {
        flex:1 1 200px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    #top-page {
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
    }

    #top-page h1 {
        flex: 1 1 100%;
        padding: 40px 0 10px 0;
        font-size: 170%;
        min-width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    nav {
        flex: 1 0 auto;
        justify-content: center;
        padding: 0px;
    }

    nav a {
        flex-grow: 0;
        flex-shrink: 1;
    }

    .section-whole {
        flex-direction: column;
        margin: 5px 10px;
    }

    .section-title {
        border-right:none;
        border-bottom: 5px solid var(--dark-blue);
        margin:0 10px;
        text-align: center;
        max-width: none;
    }

    .card {
        flex-basis: 100%;
    }
}